.info_disney
background-color: var(--color-2); 


#link_hotel:hover{
    background-color: var(--color-3-5);
  }


.foto_disney
    max-width: 100px;
    background-color: var(--color-1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;